@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #7E7E7E;
    background-color: #D4D4D4;
}

h1 {
    color: #DD5555;
    font-weight: 800;
}

header img {
    width:200px;
    height: 200px;
   border-radius:50%;
   border: solid #D4D4D4 5px;
}

header {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 1%;
    box-shadow: 1px 1px 1px 1px #7E7E7E;
}

header a {
    text-decoration: none;
    color: white;
    background-color: #DD5555;
    width: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    }

header p {
    text-align: justify;
    font-size: 19px;
}
.bold {
    font-weight: bold;
}

h2 {
    font-weight: 550;
}

ul {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 1px 1px #7E7E7E;
    }

ul li {
    display: flex;
    flex-direction: column;
}

li a {
    text-decoration: none;
    color: #D4D4D4;
    font-size: 20px;
}

li i {
    display: flex;
    color: #D4D4D4;
    font-size: 30px;
}

.surligne {
    background-color: #D4D4D4;
}

section {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 1%;
    box-shadow: 1px 1px 1px 1px #7E7E7E;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}

section img {
    width: 110px;
    justify-content: space-around;
    margin-top: 15px;

}


article {
    display: flex;
    padding-bottom: 5px;
    margin-left: 15px;
    padding-top: 20px;
}

article p {
    text-align: justify;
    font-size: 19px;
    margin-left: 25px;
    margin-right: 15px;
    letter-spacing: -0,5px;
    font-weight: 400;
    line-height: 33px;
}

.info {
    margin-bottom: 8px;
}